{% extends 'base_template.html' %}

{% block body_content %}
    <div class="container mt-4">
        <h1>Recipe Book</h1>
        <div>
            {% for image in recipe.images.all %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}" style="max-width: 300px;">
            {% endfor %}
        </div>
        <p><Strong>Recipe {{ recipe.id }}</Strong></h2>
        <p><Strong>Author: {{ recipe.recipe_author }}</Strong></p>
        <p>Ingredients:</p>
        <ul>
            {% for recipeingredient in recipe.recipe.all %}
            <li>{{ recipeingredient.ingredient.ingredient_name }}: {{ recipeingredient.quantity }}</li>
            {% endfor %}
        </ul>
        <p><a href="{% url 'add_image' recipe.id %}">Add your image here.</a></p>
    </div>
{% endblock %}